@import "tailwindcss";

@theme {
  /* v4 จะสร้าง class 'font-quicksand' และ 'font-special' ให้โดยอัตโนมัติ */
  --font-quicksand: "Quicksand", sans-serif;
  --font-special: "Special Elite", system-ui;
}

  /* default font */
@theme {
  --font-sans: "Special Elite", sans-serif;
}

html, body, #root {
  min-height: 100%;
  background-color: #000000;
  color: #000;
}
